Repository Prosperis/Resumier, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, ci, config, dependencies, ui, testing, security

Fix TypeScript errors in dialogs.test.tsx - use correct props for RenameResumeDialog and DeleteResumeDialog
  src/test/accessibility/dialogs.test.tsx
Labels: web, testing

Enhance accessibility and improve test coverage
  biome.json
  src/components/features/resume/__tests__/resume-builder.test.tsx
  src/components/features/resume/__tests__/resume-dashboard.test.tsx
  src/components/features/resume/lazy/index.tsx
  src/components/features/resume/save-status-indicator.tsx
  src/components/ui/__tests__/avatar.test.tsx
  src/components/ui/__tests__/tooltip.test.tsx
  src/components/ui/calendar.tsx
  src/hooks/__tests__/use-auto-save.test.ts
  src/hooks/api/__tests__/use-create-resume.test.tsx
  src/hooks/api/__tests__/use-delete-resume.test.tsx
  src/hooks/api/__tests__/use-duplicate-resume.test.tsx
  src/hooks/api/__tests__/use-resume.test.tsx
  src/hooks/api/__tests__/use-resumes.test.tsx
  src/hooks/api/__tests__/use-update-resume.test.tsx
  src/index.css
  src/lib/api/__tests__/mock.test.ts
  src/lib/security/__tests__/security.test.ts
  src/lib/security/index.ts
  src/routes/login.lazy.tsx
  src/routes/resume/__tests__/$id.preview.test.tsx
  src/routes/resume/__tests__/$id.test.tsx
  src/routes/resume/new.lazy.tsx
  src/stores/__tests__/auth-store.test.ts
  src/test/accessibility/basic.test.tsx
Labels: web, config, ui, testing

Refactor code structure and remove redundant sections for improved readability and maintainability
  .gitignore
  .lighthouseci/assertion-results.json
  .lighthouseci/flags-365322b2-0437-49ca-b038-f106806a3915.json
  lighthouse-results/desktop-deployed.report.html
  lighthouse-results/desktop-deployed.report.json
  lighthouse-results/final-report.report.html
  lighthouse-results/final-report.report.json
  lighthouse-results/mobile-deployed.report.html
  lighthouse-results/mobile-deployed.report.json
  lighthouse-results/production-report.report.html
  lighthouse-results/production-report.report.json
  lighthouse-results/report.report.html
  lighthouse-results/report.report.json
  lighthouse-results/root-report.report.html
  lighthouse-results/root-report.report.json
  package-lock.json
Labels: config

Implement feature X to enhance user experience and fix bug Y in module Z
  bun.lock
Labels: none

chore: remove outdated auto-update PR branches workflow
  .github/workflows/update-pr-branches.yml
Labels: ci

chore: replace Dependabot with Taze for dependency management
  .github/dependabot.yml
  .github/workflows/dependencies.yml
  bun.lock
  package.json
Labels: ci, config, dependencies

.github/labeler.yml:

web:
  - changed-files:
      - any-glob-to-any-file: 'src/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/docs/**'

ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

config:
  - changed-files:
      - any-glob-to-any-file:
          - '*.json'
          - '*.yaml'
          - '**/eslint.config.js'
          - 'tsconfig*.json'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/package.json'
          - '**/pnpm-lock.yaml'

ui:
  - changed-files:
      - any-glob-to-any-file: 'src/components/ui/**'

testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/__tests__/**'

security:
  - changed-files:
      - any-glob-to-any-file: '.github/SECURITY.md'
